 <div class="container d-flex justify-content-center">
  <img id="mushroomman" src="/images/red-top-mushroom.png" alt="">
  
</div>


<div class="container d-flex justify-content-center">
  
     <img class="moss" src="/images/moss_on_forest_floor.jpg" alt="">
    <img class="grass" src="/images/grass.png" alt="">
  
</div>


