<div class="cont">
  <form class="login-form">
    <h2>Welcome back,</h2>
    <div class="img__text m--in">
      <h2>One of us?</h2>
      <p>If you already has an account, just sign in. We've missed you!</p>
    </div>
    <label>
      <span>Email</span>
      <input type="email" id="email-login" />
    </label>
    <label>
      <span>Password</span>
      <input type="password" id="password-login" />
    </label>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">login</button>
    </div>

  </form>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and store all your mushroom love!</p>
      </div>

    </div>
    <form class="signup-form">
      <h2>Time to feel like home,</h2>
      <label>
        <span>username</span>
        <input type="text" id="username-signup" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" id="email-signup" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" id="password-signup" />
      </label>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>