{{#if loggedIn}}
<div class="container text-center mt-3">
  <h1>Mush-room!</h1>
</div>

<div class="container d-flex flex-column align-items-center">


  <div class="container d-flex m-3 flex-wrap justify-content-center">


    {{#each mushrooms as |mushroom|}}
    <a class="m-3 col-12 col-sm-6 col-md-4 col-lg-3" href="/mush-room/{{mushroom.id}}">
      <img src="{{mushroom.url}}" class="img-thumbnail img-fluid" alt="mushroom">
    </a>

    {{/each}}
  </div>

  <div class="  d-flex container justify-content-center">
    <div id="map"></div>
  </div>

</div>

{{else}}
<div id="loginAuth">
  <a href="/login">MUST LOGIN TO VIEW IMAGES</a>
</div>
{{/if}}