html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  background-size: cover;
  height: 100%;
  width: 100%;
}

#brand-mushroom {
  width: 70px;
  height: 70px;
}

body .cont {
  color: #000;
  height: 100%;
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  background-repeat: no-repeat;
  height: 100vh;
}

input,
textarea {
  background-color: #f3e5f5;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #f3e5f5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #d500f9 !important;
  outline-width: 0;
  font-weight: 400;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.card {
  border-radius: 0;
  border: none;
}

.card1 {
  width: 50%;
  padding: 40px 30px 10px 30px;
}

.card2 {
  width: 50%;
  background-image: linear-gradient(to right, #ffd54f, #d500f9);
}

.heading {
  margin-bottom: 60px !important;
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px;
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px;
}

/* .btn-color {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #ffd54f, #d500f9);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 40px
} */

.bottom {
  width: 100%;
  margin-top: 50px !important;
}

.sm-text {
  font-size: 15px;
}

.cont {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .card1 {
    width: 100%;
    padding: 40px 30px 10px 30px;
  }

  .card2 {
    width: 100%;
  }

  .right {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px !important;
  }

  .card2 {
    padding: 50px;
  }

  .right {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
}

#map {
  height: 150px;
  width: 40%;

  /* bottom: 0; */
  /* left: 50px; */
  border-radius: 30px;
}

#mushroomman {
  position: absolute;
  width: 40%;
  margin-left: 100px;
  margin-top: 500px;
  animation: jump 2s infinite;
  z-index: 2;
}

.moss {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.grass {
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 75vh;
  bottom: -124px;
  filter: blur(2px);
}

@keyframes jump {
  0% {
    transform: translateY(-50%) scale(1.25, 1);
  }
  50% {
    transform: translateY(-105%) scale(1, 1);
  }
  55% {
    transform: translateY(-105%) rotate(15deg);
  }
  60% {
    transform: translateY(-105%) rotate(-15deg);
  }
  65% {
    transform: translateY(-105%) rotate(15deg);
  }
  70% {
    transform: translateY(-105%) rotate(-15deg);
  }
  100% {
    transform: translateY(-50%) scale(1.25, 1);
  }
}


#loginAuth {
  font-size: 400%;
  color: black;
  text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#loginAuth a {
  color: black;
}